.results[b-3asepffdpk] {
    text-align: left;
    padding-left: 0px !important;
}

.item .title[b-3asepffdpk] {
    font-size: large;
    font-weight: bold;
}
body[b-3asepffdpk] {
    background-color: rgb(176, 221, 236);
}
#cuadro[b-3asepffdpk]{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.busqueda[b-3asepffdpk]{
    position: relative;
    background-position: 300px;

}
#complejo[b-3asepffdpk]{
    margin-left:350px;
}
#abrir[b-3asepffdpk] {
    margin-top: -200px;
    position:relative ;
    top: 210px;
    left: 10px;
    height: 200px;

}
#mooglev[b-3asepffdpk]{
    margin-top: 23px;
    position: relative;
    height: 190px;
}
#acostado[b-3asepffdpk]{
    width: 400px;
    background-position: center;
}

#global[b-3asepffdpk]{
    height:380px;
    width: 1298px;
    background: rgb(176, 221, 236);
    overflow-y: scroll;
}
#mensaje[b-3asepffdpk]{
    height:auto;
}
.texto[b-3asepffdpk]{
    border: 1px solid #663202;
    padding: 4px;
    background: rgb(176, 221, 236);
}
li[b-3asepffdpk]{
    list-style: none;
}
.btn[b-3asepffdpk]{
    background-color: #ff7300 !important;
}